body {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

.bg-image {
  color: white;
  background-image: url("../images/the-flatiron-building.png");
  background-repeat: repeat-x;
}

.process-part {

}

nav {
  font-size: 18px;
}

ul li {
  list-style: none;
  padding: .25em;
}

nav a {
  color: white;
}

h1, h2, h3 {
  font-weight: bold;
}

h1 {
  font-size: 70px;
  padding-top: 25px;
  margin-top: -25px;
}

h2 {
  font-size: 32px;
}

h3{
  font-size: 23px;
}

p {
  font-size: 14px;
}

.footer {
  background-color: dimgray;
  font-size: 11px;
  color: white;
  text-align: left;
}

.footer * {
  display: inline;
  padding: 0;
}
